input {
  tcp {
    port => 5000
    codec => json
  }
}

filter {
  mutate {
    add_field => {
      "ingestion_source" => "logstash"
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "security-events-%{+YYYY.MM.dd}"
  }

  stdout {
    codec => rubydebug
  }
}